body {
    margin: 0;
    background: #060607;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 400;
    background-image: url ("/images/Mark_Pic.png");

}

.container {
    width: 80%;
    margin: 0;
}


header {
    background-color: #060607;

}




.logo {
    float: left;
    padding: 5px;
    margin: 5px;

}

.Nav {
    float: right;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    margin: 5px;
    padding: 5px;

    
    
}

.Nav li{
    margin: 5px;
    padding: 5px;
    color: #ECFAFF;
    font-size: 24px;
    list-style-type: none;
}

.HeroImage {
    position: relative;
    left: 10%;
}

.name {
    color: #ECFAFF;
    position: absolute;
    left: 25%;
    bottom: 1%;
    font-size: 36px;

}

.descriptor {
    color: #ECFAFF;
    position: absolute;
    left: 75%;
    bottom: 5%;

}

.adjectives li {
    list-style-type: none;
    margin: 20px;

}

.adjectives {
    display: inline-flex;
    flex-direction: row;
    margin: 20px;
    padding: 20px;
    color: #ECFAFF;
    font-size: 24px;
}

.blue-text {
    color: #9CD5EE;
}

.red-text {
    color: red;
}
